html {
	font-family:Arial, Helvetica, sans-serif;

	body {
		margin:0;
		padding:0;

		header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 16px;
			background-color: #f0f0f0;

			h1 {
				margin: 0;
			}

			nav {
				& > div {
					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 0.5em;

					select, option {
						font-size: 16px;
					}
				}
			}
		}

		main {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: 1fr 1fr;
			height: calc(100vh - 74.5px - 50.75px);

			#tooltip {
				position: absolute;
				background: rgba(255, 255, 255, 0.95);
				border: 1px solid #333;
				padding: 8px;
				border-radius: 4px;
				pointer-events: none;
				opacity: 0;
				transition: opacity;
				line-height: 1.4;
				top: 0;
				left: 0;
			}

			section {
				/* Visualisation 1: Opening Explorer */
				&#opening_explorer {
					grid-column: 1 / 7;
					grid-row: 1 / 3;
				}

				/* Visualisation 2: Popularity plot */
				&#popularity {
					grid-column: 7 / 13;
					grid-row: 1 / 2;
				}

				/* Visualisation 3: Accuracy plot */
				&#accuracy {
					grid-column: 7 / 13;
					grid-row: 2 / 3;

					.HeatMapContainer{
						position: relative;
					}

					.HeatMapTitle {
						text-anchor: middle;
						font-weight: bold;
						text-align: center;
					}

					#HeatMap {
						text-align: center;
					}

					.openingList {
						position: absolute;
						top: -10px;
						right: -10px;
						padding: 10px;
						padding-right: 3em;
					}
				}
			}
		}

		footer {
			text-align: center;
			padding: 16px;
			background-color: #f0f0f0;

			p {
				margin: 0;
				font-size: 16px;
			}
		}
	}
}