html {
	font-family:Arial, Helvetica, sans-serif;

	body {
		margin:0;
		padding:0;

		header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1em;
			background-color: #f0f0f0;

			h1 {
				margin: 0;
			}

			nav {
				display: flex;
				align-items: center;
				gap: 0.5em;

				select {
					font-size: 16px;
				}
			}
		}

		main {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: 1fr 1fr;
			height: calc(100vh - 69px - 50px);

			section {
				&#opening_explorer {
					grid-column: 1 / 7;
					grid-row: 1 / 3;
					background-color: red;
				}

				&#popularity {
					grid-column: 7 / 13;
					grid-row: 1 / 2;
					background-color: green;
				}

				&#accuracy {
					grid-column: 7 / 13;
					grid-row: 2 / 3;
					background-color: blue;
				}
			}
		}

		footer {
			text-align: center;
			padding: 1em;
			background-color: #f0f0f0;

			p {
				margin: 0;
			}
		}
	}
}